---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import SubscribeNewsletter from "@layouts/components/SubscribeNewsletter.astro";
import BlogCategories from "@layouts/components/BlogCategories.astro";
import Pagination from "@layouts/components/Pagination.astro";
import { nativeBlogs } from "@lib/strapi";

import dateFormat from "@lib/utils/dateFormat";
import { removeSpecialChars } from "@lib/utils/textConverter";
import Blogs from "@layouts/Blogs.astro";
const heroBlog = nativeBlogs[0];
const listBlogs = nativeBlogs?.slice(1, 4);

const totalPages = Math.ceil(nativeBlogs.length / config.settings.pagination);
const currentBlogs = nativeBlogs?.slice(0, config.settings.pagination);

const { summary_length } = config.settings;
---

<Base showFooter={true}>
  <div class="bg-[#ebf5ff] blog-page max-md:py-[6rem] max-sm:py-[3rem]">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-[5rem] max-sm:mt-[0] mt-[4rem]">
        <div class="flex flex-col gap-6 items-center max-w-screen-md mx-auto">
          <div class="overflow-hidden">
            <img
              src={heroBlog?.imageUrl}
              alt="Wearable Tech"
              class="w-full object-cover rounded-[0.5rem] mb-[1.5rem]"
            />
            <div class="">
              <span
                class="inline-block bg-purple-200 text-[#100d06] text-xs font-semibold capitalize tracking-wide px-2 py-1 rounded"
              >
                {heroBlog?.categories?.[0]}
              </span>
              <a href={`/${heroBlog?.slug}/`}>
                <h2
                  class="text-2xl font-semibold my-2.5 leading-7 text-[#111928] hover:underline"
                >
                  {heroBlog?.title}
                </h2>
              </a>
              <p class="text-gray-500 text-sm mb-2.5 mt-0">
                {dateFormat(heroBlog?.createdAt)}
              </p>
              <p class="text-base mt-0 mb-2.5 text-[#6b7280] font-medium">
                {removeSpecialChars(heroBlog?.content?.slice(0, 400))}
              </p>
              <a
                href={`/${heroBlog?.slug}/`}
                class="text-purple-600 text-base font-medium inline-flex items-center mt-4 hover:text-[#443ab9]"
              >
                Read more <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-6 items-center max-w-screen-md mx-auto">
          {
            listBlogs?.map((blog) => (
              <div class="">
                <a href={`/${blog?.slug}/`}>
                  <h2 class="text-2xl font-semibold my-2.5 leading-7 text-[#100d06] hover:underline">
                    {blog?.title}
                  </h2>
                </a>
                <span class="inline-block bg-purple-200 text-[#100d06] text-xs font-semibold capitalize tracking-wide px-2 py-1 rounded">
                  {blog?.categories?.[0]}
                </span>
                <p
                  set:html={blog?.content?.slice(0, 400)}
                  class="text-base mt-0 mb-2.5 text-[#6b7280] font-medium"
                ></p>
                <a
                  href={`/${blog?.slug}/`}
                  class="text-[#776bff] text-base font-medium inline-flex items-center hover:text-[#443ab9]"
                >
                  Read more{" "}
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-4 ml-1.5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                    />
                  </svg>
                </a>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
  <div class="bg-[#fafaff]">
    <BlogCategories />
    <div class="container mx-auto px-4 lg:py-8 py-8">
      <Blogs blogs={currentBlogs} />
    </div>
    <div class="pb-[60px]">
      <Pagination section="blog" currentPage={1} totalPages={totalPages} />
    </div>
  </div>
  <SubscribeNewsletter />
</Base>
