---
import { removeSpecialChars } from "@lib/utils/textConverter";
import type { Blog } from "../interfaces/blog";
import config from "@config/config.json";
import dateFormat from "@lib/utils/dateFormat";

type Props = {
  blogs: Blog[];
  className?: string;
  category?: string;
  fluid?: boolean;
};

const { className, blogs } = Astro.props;
const { summary_length } = config.settings;
---

{
  blogs.map((blog: Blog, i: number) => (
    <div class="rounded-2xl overflow-hidden py-6 flex gap-3">
      <div class="col-4 max-md:hidden">
        <img
          src={blog?.imageSmallUrl}
          alt={blog?.title}
          class="w-full object-cover rounded-[0.5rem] mb-[1.5rem]"
        />
      </div>
      <div class="px-4">
        <a href={`/${blog?.slug}/`}>
          <h2 class="text-2xl font-semibold mb-2.5 leading-7 hover:underline text-[#111928]">
            {blog?.title}
          </h2>
        </a>
        <div class="flex gap-2 items-center mb-2.5">
          <span class="inline-block bg-purple-200 text-[#100d06]  text-xs font-semibold tracking-wide px-2 py-1 rounded">
            {blog?.categories?.[0]}
          </span>
          <p class="text-gray-500 text-sm mb-0 mt-0">
            {dateFormat(blog?.createdAt)}
          </p>
        </div>
        <p class="text-base mt-0 mb-2.5 text-gray-500 font-medium">
          {removeSpecialChars(blog?.content)?.slice(0, 300)}…
        </p>
        <a
          href={`/${blog?.slug}/`}
          class="text-purple-600 text-base font-medium inline-flex items-center mt-4 hover:text-[#443ab9]"
        >
          Read more{" "}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
            />
          </svg>
        </a>
      </div>
    </div>
  ))
}
